<ion-header>
  <ion-text>
    <ion-title>You are logged in!!</ion-title>
  </ion-text>
</ion-header>

<ion-content text-center class="bg-image">
  <div class="ion-padding">
    <p>CEA FEST 2020...Coming up...</p>
  </div>
    <ion-list>
    <ion-button color='dark' href="https://cea-iitm.org/">HOME</ion-button>
    <ion-button color='dark'  href="https://cea-iitm.org/events">EVENTS</ion-button>
    <ion-button color='dark'  href="https://cea-iitm.org/workshops">WORKSHOP</ion-button>
    <ion-button color='dark'  href="https://cea-iitm.org/team">OUR TEAM</ion-button>
    <ion-button color='dark'  href="https://cea-iitm.org/accommodation">ACCOMODATION</ion-button>
    <ion-button color='dark'  href="home">LOGOUT</ion-button>
  </ion-list>
</ion-content>